<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>OBS Alerts</title>

  <style>
    body {
      color: white;
      -webkit-text-stroke-color: black;
    }

    h1 {
      font-size: 5rem;
      -webkit-text-stroke-width: 0.15rem;
    }

    p {
      font-size: 3rem;
      -webkit-text-stroke-width: 0.075rem;
    }
  </style>
</head>

<body>
  <h1 id="username"></h1>
  <p id="message"></p>

  <script>
    const username = document.getElementById("username");
    const message = document.getElementById("message");

    async function readTTS() {
      const queuedMessage = await window.fetch("http://localhost:3000/api/tts/message").then(res => res.json());
      if (queuedMessage.message !== null) {
        const snd = new Audio("data:audio/wav;base64," + queuedMessage.message.audio);

        snd.addEventListener('ended', async () => {
          await window.fetch("http://localhost:3000/api/tts/reset", {
            method: "POST"
          });
          await window.fetch("http://localhost:3000/api/tts/reading", {
            method: "POST",
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify({ "isReading": false })
          });
          setTimeout(() => {
            username.innerHTML = "";
            message.innerHTML = "";
            setTimeout(readTTS, 5000);
          }, 5000);
        });

        username.innerHTML = `${queuedMessage.message.user} says:`;
        message.innerHTML = queuedMessage.message.text;
        snd.play();
      }
      else {
        setTimeout(readTTS, 5000);
      }
    }

    readTTS();
  </script>
</body>

</html>
